*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows:  0.3fr 2fr 0.5fr;
    grid-template-areas: "navbar navbar"
                         " content content"
                        "content2 content2";

}

#navbar {
    background-color: rgba(255, 255, 255, 0.541);
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

#content {
    background-color: rgb(236, 235, 234);
    grid-area: content;
}

#content2 {
    background-color: rgba(255, 255, 255, 0.349);
    grid-area: content2;
}

.ri-stack-line{
    color: dodgerblue;
}

#navtext {
    display: flex;
    font-size: 20px;
    gap: 2em;
    
}

#navtext h3 {
    font-weight: 450;
}

#sign, #started {
    
    outline: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    
}

#sign {
    box-sizing: border-box;
    color: rgb(12, 112, 212);
    background-color: white;
    border: 2px solid dodgerblue;
    margin-right: 5px;
    
}

#started {
    border: none;
    color: white;
    background-color:dodgerblue
}

#icon {
    font-size: 20px;
    display: flex;
    gap: 5px;
}

/* content section */

 #content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 30px;
    

 }

.contentbox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#contenttext>h2 {
    font-size: 70px;
    font-weight: 400;

}

#contenttext>p {
    margin-top: 10px;
    font-size: 15px;
}

#free {
    color: dodgerblue;
    background-color: white;
    border: 2px solid dodgerblue;
    margin-right: 5px;
    box-sizing: border-box;
    
}

#start {
    color: white;
    background-color:dodgerblue;
    border: none;
    margin-right: 10px;
}


#contentbutton {
   margin-top: 20px;

}
#contentbutton > button {
    outline: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}

#picturebox{
    height: 550px;
    width: 500px;
    background-image: url(/girl.png);
    background-size: cover;
    border-radius: 30px;
}

#content2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#textbox1, #textbox2, #textbox3, #textbox4 {
    height: 100px;
    width: 190px;
    text-align: center;
}

#content2 h2 {
    font-size: 40px;
}

#content2 p {
    font-size: 15px;
}