*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas: "navbar navbar navbar"
                        "textcontent textcontent textcontent"
                        "pic1 smalltext1 pic2"
                        "pic1 smalltext2 pic2";
}

#navbar {
    background-color: rgba(255, 255, 255, 0.541);
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#navtext {
    display: flex;
    font-size: 20px;
    gap: 2em;
    
}

#navtext h3 {
    font-weight: 450;
}

#sign, #started {
    
    outline: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    
}

#sign {
    box-sizing: border-box;
    color: rgb(12, 112, 212);
    background-color: white;
    border: 2px solid dodgerblue;
    margin-right: 5px;
    
}

#started {
    border: none;
    color: white;
    background-color:dodgerblue
}

#icon {
    font-size: 20px;
    display: flex;
    gap: 5px;
}

#textcontent {
    background-color: brown;
    grid-area: textcontent;
}

#pic1 {
    background-color: rgb(180, 110, 25);
    grid-area: pic1;
}

#pic2 {
    background-color: rgb(73, 18, 18);
    grid-area: pic2;
}

#smalltext1 {
    background-color: rgb(0, 46, 59);
    grid-area: smalltext1;
}

#smalltext2 {
    background-color: rgb(27, 59, 71);
    grid-area: smalltext2;
}
